/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    align-items: center;
    column-gap: 30px;
    margin: 0 10px;
}

.link {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

button {
    background-color: rgb(0 97 255);
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
}

.logo {

    /* debug */
    /* background-color: red; */
    /* width: 35%; */
}

.accedi {

    /* debug */
    /* background-color: red; */
    /* width: 35%; */
}

/* MAIN */
/* proposta cliente */
.sfondo, .prova-gratuita {
    background-color: rgb(180 208 231);
    display: flex;
    justify-content: center;
    position: relative;
}

.sfondo {

    /* debug */
    height: 500px;
}

.large-container {
    position: absolute;
    bottom: 0;
    
    /* debug */
    /* background-color: orange; */
    /* width: 70%; */
    height: 400px;
}

h1 {
    font-size: 3rem;
}

.paragrafo-immagine {
    position: relative;
    max-width: 500px;
    margin-top: 30px;
}

.paragrafo {
    font-size: .8rem;
    position: absolute;
    right: 300px;
}

.bottone-prova-gratuita {
    margin: 20px 0;
}

.fa-arrow-down {
    font-size: 2rem;
    margin-top: 20px;
}

.proposta-cliente {
    margin-left: 100px;
    position: absolute;
    left: 100px;
}

/* piani business */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container {

    /* debug */
    width: 60%;
    /* border: 1px solid black; */
    margin-top: 50px;
}

.titolo {
    font-size: 1.8rem;

    /* debug */
    /* background-color: blueviolet; */
    /* height: 50px; */
}

.radio-fatturazione {
    margin-top: 30px;
    margin-bottom: 20px;
}

.fatturazione, .morten {
    font-size: .8rem;
}

.annuale {
    margin-left: 20px;
}

.piani {
    padding: 10px 0;
}

.piani, .operazioni-dropbox{
    display: flex;
    column-gap: 10px;
} 

.professional, .advanced, .enterprise {
    border: 1px solid lightgray;
    font-size: .8rem;
    width: calc(100% / 3);

    /* debug */
    /* height: 700px; */
}

.singolo, .team, .azienda {
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding: 7px 0;
}

.fa-user, .fa-users, .fa-building,
.fa-folder, .fa-share-nodes, .fa-check {
    padding-right: 3px;
}

h3 {
    font-size: 1.2rem;
    padding: 20px;
}

.prezzo {
    padding: 0 20px ;
    font-size: .9rem;
    display: block;
}

.trasparenza {
    color: rgba(0, 0, 0, .3);
    padding: 20px;
}

.ul-piani, .ul-punti-salienti {
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 40px;
}

li {
    padding-left: 10px;
}

.bottone-piani {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.bottone-piani-larghezza {
    width: 90%;
    padding: 10px 0;
}

.acquista-ora {
    padding-left: 10px;
}

.cursore-acquista {
    cursor: pointer;
}

.oppure {
    border-bottom: 1px solid lightgray;
    padding-bottom: 27px;
}

.punti-salienti {
    padding-left: 10px;
    padding-top: 60px;
}

.fa-check {
    color: rgb(0 97 255);
}

.spazio-bottom {
    padding-bottom: 30px;
}

.enterprise-ufficio-vendite {
    border: 1px solid lightgray;
    font-size: .8rem;

    /* debug */
    /* background-color: blueviolet; */
    /* height: 100px; */
}

.enterprise-flex {
    display: flex;
    padding-bottom: 20px;
}

.soluzioni {
    padding-top: 40px;
    padding-left: 20px;
}

.bottone-enterprise {
    padding: 20px;
}

.bottone-enterprise-larghezza {
    padding: 10px;
    width: 200px;
}

/* partner dropbox */
.partner-dropbox {
    display: flex;
    padding-top: 50px;
}

.foto-partner {

    /* debug */
    width: 60%;
    /* height: 200px; */
    /* background-color: blue; */
}

.trova-partner {
    width: 40%;

    /* debug */
    /* height: 200px; */
    /* background-color: green; */
}

.paragrafo-partner {
    padding: 0 20px;
}

.bottone-partner {
    color: black;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}

/* operazioni dropbox business */
.operazioni {
    margin-top: 50px;
}

.casella1, .casella2, .casella3,
.casella4, .casella5, .casella6 {
    width: calc(100% / 3);
    margin: 20px 0;

    /* debug */
    /* border: 1px solid black; */
    /* height: 150px; */
}

p {
    padding: 0 20px;
    font-size: .8rem;
}

/* info clienti */
.info-clienti {
    margin-top: 40px;

    /* debug */
    /* width: 60%; */
    /* height: 100px; */
    /* background-color: blue; */
}

.link-info {
    padding-top: 40px;
    font-size: .8rem;
}

/* loghi */
.designit {
    display: flex;
    margin-top: 100px;

    /* debug */
    /* height: 300px; */
    /* border: 1px solid black; */
}

.loghi-sinistra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    /* debug */
    /* height: 300px; */
    /* background-color: aqua; */
}

.loghi-alto {
    display: flex;
}

.loghi-basso {
    display: flex;
}

.designit-logo, .arizona, .florida, .topps,
.world, .hearst, .lonely, .clear {
    width: calc(100% / 2);
    padding: 40px;
    aspect-ratio: 1;
}

.designit-colore {
    background-color: rgb(162 211 155);
    border: 10px solid rgb(209 233 205);
}

.arizona-colore {
    background-color: rgb(97 8 43);
}

.florida-colore {
    background-color: rgb(0 147 206);
}

.topps-colore {
    background-color: rgb(255 28 28);
}

.logo-centrale {
    background-color: rgb(245 245 245);
    padding: 40px;

    /* debug */
    width: 33%;
    /* height: 300px; */
}

.designit-centrale {
    width: 50%;
}

.trattino {
    border: 1px solid lightgray;
    width: 25%;
    margin-top: 40px;
}

.loghi-destra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;

    /* debug */
    /* height: 300px; */
    /* background-color: aqua; */
}

.world-colore {
    background-color: rgb(213 0 31);
}

.hearst-colore {
    background-color: rgb(180 208 231);
}

.lonely-colore {
    background-color: rgb(13 36 129);
}

.clear-colore {
    background-color: rgb(255 216 48);
}

/* prova gratuita */
.prova-gratuita {

    /* debug */
    /* height: 150px; */
}

.container-prova-gratuita {
    width: 60%;
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.porta-azienda {
    width: 60%;

    /* debug */
    /* background-color: blue; */
    /* height: 130px; */
}

.titolo-colore {
    color: rgb(97 8 43);
    font-size: 1.8rem;
    padding: 100px 0;
}

.inizia-prova-gratuita {
    width: 40%;

    /* debug */
    /* background-color: green; */
    /* height: 130px; */
}

.bottone-prova {
    border: none;
    color: black;
    background-color: white;
    padding: 8px 30px;
}

/* domande frequenti */
.container-domande {
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    /* height: 300px; */
}

.domande-frequenti {
    width: 60%;

    /* debug */
    /* background-color: blueviolet; */
    /* height: 260px; */
}

.spazio-titolo {
    margin-top: 100px;
    margin-bottom: 50px;
}

hr {
    margin: 30px 0;
}

.domande {
    font-size: .8rem;
    position: relative;
}

.fa-chevron-down {
    position: absolute;
    right: 20px;
    font-size: .6rem;
}

/* FOOTER */
/* liste */
.container-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 100px;
    background-color: black;

    /* debug */
    height: 200px;
}

.lista-dropbox, .lista-prodotti, .lista-azienda,
.lista-supporto, .lista-community {

    /* debug */
    height: 180px;
    width: calc(70% / 5);
    background-color: whitesmoke;
    border: 1px solid red;
}