/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    padding-top: 10px;
    align-items: center;
    column-gap: 30px;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: .8rem;
}

button {
    background-color: rgb(0 97 255);
    padding: 5px 10px;
    color: white;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
}

.logo {

    /* debug */
    /* background-color: red; */
    /* width: 35%; */
}

.accedi {

    /* debug */
    /* background-color: red; */
    /* width: 35%; */
}

/* MAIN */
/* proposta cliente */
.sfondo, .prova-gratuita {
    background-color: rgb(180 208 231);
    display: flex;
    justify-content: center;
    position: relative;
}

.sfondo {

    /* debug */
    height: 500px;
}

.large-container {
    position: absolute;
    bottom: 0;
    
    /* debug */
    /* background-color: orange; */
    /* width: 70%; */
    height: 400px;
}

h1 {
    font-size: 3rem;
}

.paragrafo-immagine {
    display: flex;
}

.proposta-cliente {
    
}

/* piani business */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container {

    /* debug */
    width: 60%;
    border: 1px solid black;
    margin-top: 50px;
}

.titolo {

    /* debug */
    background-color: blueviolet;
    height: 50px;
}

.piani {
    padding: 10px 0;
}

.piani, .operazioni-dropbox{
    display: flex;
    column-gap: 10px;
} 

.professional, .advanced, .enterprise {

    /* debug */
    border: 1px solid black;
    height: 300px;
    width: calc(100% / 3);
}

.enterprise-ufficio-vendite {

    /* debug */
    background-color: blueviolet;
    height: 100px;
}

/* partner dropbox */
.partner-dropbox {
    display: flex;
    padding-top: 50px;
}

.foto {

    /* debug */
    width: 60%;
    height: 200px;
    background-color: blue;
}

.trova-partner {

    /* debug */
    width: 40%;
    height: 200px;
    background-color: green;
}

/* operazioni dropbox business */
.operazioni {
    margin-top: 50px;
}

.casella1, .casella2, .casella3,
.casella4, .casella5, .casella6 {

    /* debug */
    border: 1px solid black;
    height: 150px;
    width: calc(100% / 3);
    margin-bottom: 10px;
}

/* info clienti */
.info-clienti {

    /* debug */
    width: 60%;
    height: 100px;
    background-color: blue;
    margin-top: 40px;
}

/* loghi */
.designit {
    display: flex;

    /* debug */
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
}

.loghi-sinistra {

    /* debug */
    width: 33%;
    height: 300px;
    background-color: aqua;
}

.logo-centrale {

    /* debug */
    width: 33%;
    height: 300px;
}

.loghi-destra {

    /* debug */
    width: 33%;
    height: 300px;
    background-color: aqua;
}

/* prova gratuita */
.prova-gratuita {

    /* debug */
    height: 150px;
}

.container-prova-gratuita {
    width: 60%;
    display: flex;
    padding-top: 10px;
}

.porta-azienda {
    width: 60%;

    /* debug */
    background-color: blue;
    height: 130px;
}

.inizia-prova-gratuita {
    width: 40%;

    /* debug */
    background-color: green;
    height: 130px;
}

/* domande frequenti */
.container-domande {
    display: flex;
    justify-content: center;
    align-items: center;

    /* debug */
    height: 300px;
}

.domande-frequenti {

    /* debug */
    background-color: blueviolet;
    width: 60%;
    height: 260px;
}

/* FOOTER */
/* liste */
.container-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    /* debug */
    background-color: black;
    height: 200px;
}

.lista-dropbox, .lista-prodotti, .lista-azienda,
.lista-supporto, .lista-community {

    /* debug */
    height: 180px;
    width: calc(70% / 5);
    background-color: whitesmoke;
    border: 1px solid red;
}